<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://rb.gy/0kwoub"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://rb.gy/3cy3iu"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.github.com/Aniket-3103"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brands">&copy; Wanderlust Private Ltd</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>