<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <%if(!(currRoute.includes("login") || currRoute.includes("signup") || currRoute.includes("edit") || currRoute.includes("new"))){%>
          <form action="/listings/search" method="get" class="d-flex" role="search">
            <input type="search" class="form-control me-2 search-input" name="searchInput" placeholder="Search destinations" aria-label="Search">
            <button class="btn btn-search" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        <% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>

      </div>
    </div>
  </div>
</nav>