body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;

}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a, .f-info-socials a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-brands, .f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items:space-evenly;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body{
    padding: 0;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New listing page */
.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border:none;
}


/* show page */
.show-img{
    height: 40vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* https://api.mapbox.com/search/geocode/v6/forward?q={search_text} */

/* map */
#map{
    height: 400px;
    width: 80vh;
}


/* filters and taxSwitch */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter p{
    font-size: 0.8rem;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    margin-left: 3rem;
    align-items: center;
    display: flex;
}

/* navbar search */.btn-search{
    background-color: #fe424d; 
    color: #fff;
    padding: 0 1rem 0 1rem;
    border-radius: 25px;
  }
  .btn-search:hover{
    background-color: #fe424d; 
    color: #fff;
  }

  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .bg-gradient {
    background: linear-gradient(to right, #007bff, #6610f2);
    color: #ffffff;
  }

  span{
    color: #fe424d;;
  }
  